@import "tailwindcss";



:root {
  /* Primary (Teal - Logo main) */
  --color-primary:43 100% 46%;
  --color-primary-foreground: 0 0% 100%;

  /* Accent (Yellow - Logo highlight) */
  --color-accent: 45 95% 60%;
  --color-accent-foreground: 222 47% 11%;

  /* Base UI */
  --color-bg: 0 0% 100%;
  --color-text: 222 47% 11%;
  --color-border: 214 32% 91%;
}

.dark {
  /* Primary (slightly brighter for dark mode) */
  --color-primary: 174 50% 50%;
  --color-primary-foreground: 0 0% 100%;

  /* Accent (slightly muted) */
  --color-accent: 45 90% 55%;
  --color-accent-foreground: 222 47% 11%;

  /* Base UI */
  --color-bg: 222 47% 11%;
  --color-text: 210 40% 98%;
  --color-border: 217 32% 17%;
}

body{
    font-family: "Poppins", sans-serif;
}


html {
  scroll-behavior: smooth;
}

#preloader {
  position: fixed;
  inset: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-wrapper {
  text-align: center;
}

.loader-logo {
  width: 90px;
  margin-bottom: 12px;
  animation: pulse 1.5s infinite;
}

.loader-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

.loader-bar {
  width: 120px;
  height: 4px;
  background: #eee;
  overflow: hidden;
  border-radius: 6px;
}

.loader-bar::after {
  content: '';
  width: 40%;
  height: 100%;
  background: #facc15; /* yellow */
  display: block;
  animation: loading 1.2s infinite;
}

@keyframes loading {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(300%); }
}

@keyframes pulse {
  0% { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}
